In [1]:
import numpy as np
import pandas as pd
from datetime import date, time, datetime, timedelta 
from dateutil import parser
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium import plugins
from folium.plugins import HeatMap
import math
import random
import timeit
import warnings
warnings.filterwarnings("ignore")

In [35]:
mydateparser = lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")
testboston=pd.read_csv("Boston/boston_2015.csv", parse_dates=['start_time', "end_time"], date_parser=mydateparser)
testboston = testboston.drop(testboston.index[21566])
testboston['end_station_id'] = testboston['end_station_id'].astype(int)

In [36]:
testboston["Hour"]=testboston["start_time"].dt.hour
testboston

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,Hour
0,2015-01-01 00:21:44,2015-01-01 00:30:47,115,96,Porter Square Station,Cambridge Main Library at Broadway / Trowbridg...,277,Subscriber,0
1,2015-01-01 00:27:03,2015-01-01 00:34:21,80,95,MIT Stata Center at Vassar St / Main St,Cambridge St - at Columbia St / Webster Ave,648,Subscriber,0
2,2015-01-01 00:31:31,2015-01-01 00:35:46,91,68,One Kendall Square at Hampshire St / Portland St,Central Square at Mass Ave / Essex St,555,Subscriber,0
3,2015-01-01 00:53:46,2015-01-01 01:00:58,115,96,Porter Square Station,Cambridge Main Library at Broadway / Trowbridg...,1307,Subscriber,0
4,2015-01-01 01:07:06,2015-01-01 01:19:21,105,88,Lower Cambridgeport at Magazine St/Riverside Rd,Inman Square at Vellucci Plaza / Hampshire St,177,Customer,1
...,...,...,...,...,...,...,...,...,...
1122553,2015-12-31 23:35:04,2015-12-31 23:43:15,73,88,Harvard Square at Brattle St / Eliot St,Inman Square at Vellucci Plaza / Hampshire St,1473,Subscriber,23
1122554,2015-12-31 23:37:29,2015-12-31 23:47:36,135,43,ID Building East,Rowes Wharf - Atlantic Ave,649,Subscriber,23
1122555,2015-12-31 23:38:16,2015-12-31 23:47:26,135,43,ID Building East,Rowes Wharf - Atlantic Ave,1552,Subscriber,23
1122556,2015-12-31 23:46:04,2015-12-31 23:48:04,36,36,Boston Public Library - 700 Boylston St.,Boston Public Library - 700 Boylston St.,1083,Customer,23
1122557,2015-12-31 23:58:18,2016-01-01 00:12:54,105,6,Lower Cambridgeport at Magazine St/Riverside Rd,Cambridge St. at Joy St.,1305,Subscriber,23

In [37]:
df=pd.DataFrame(testboston["start_station_name"].unique(), columns=["Name"])
df

                                                 Name
0                               Porter Square Station
1             MIT Stata Center at Vassar St / Main St
2    One Kendall Square at Hampshire St / Portland St
3     Lower Cambridgeport at Magazine St/Riverside Rd
4       Inman Square at Vellucci Plaza / Hampshire St
..                                                ...
151                   MIT Pacific St at Purrington St
152                                   University Park
153                                     MIT Vassar St
154                                 Lesley University
155                                         Mt Auburn

[156 rows x 1 columns]

In [42]:
for x in testboston["start_station_name"].unique():
    for i in range(24):
        p=len(testboston[(testboston["start_station_name"]==x) & (testboston["Hour"]==i)])/365   
        df.at[df["Name"]==x,i]=p
df

,Name,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,Porter Square Station,0.282192,0.158904,0.060274,0.032877,0.013699,0.082192,1.323288,4.358904,3.008219,...,1.232877,1.054795,1.789041,2.035616,2.501370,1.827397,1.328767,1.021918,0.794521,0.517808
1,MIT Stata Center at Vassar St / Main St,0.235616,0.139726,0.109589,0.060274,0.052055,0.030137,0.068493,0.301370,0.452055,...,3.010959,3.619178,6.980822,9.569863,5.572603,3.378082,1.641096,1.136986,0.852055,0.567123
2,One Kendall Square at Hampshire St / Portland St,0.575342,0.284932,0.145205,0.032877,0.013699,0.126027,0.189041,1.104110,2.476712,...,1.613699,2.810959,5.224658,4.556164,2.956164,2.254795,1.465753,1.219178,0.871233,0.920548
3,Lower Cambridgeport at Magazine St/Riverside Rd,0.147945,0.038356,0.024658,0.010959,0.002740,0.164384,0.723288,2.172603,2.964384,...,1.879452,1.772603,2.090411,2.627397,2.591781,1.676712,1.227397,0.734247,0.246575,0.169863
4,Inman Square at Vellucci Plaza / Hampshire St,0.424658,0.216438,0.090411,0.024658,0.024658,0.153425,0.630137,3.290411,5.931507,...,1.663014,1.424658,1.736986,2.246575,1.936986,1.764384,1.150685,0.953425,0.772603,0.545205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,MIT Pacific St at Purrington St,0.063014,0.021918,0.027397,0.005479,0.013699,0.002740,0.043836,0.079452,0.263014,...,0.167123,0.153425,0.142466,0.243836,0.200000,0.180822,0.131507,0.158904,0.136986,0.126027
152,University Park,0.013699,0.019178,0.002740,0.000000,0.000000,0.016438,0.019178,0.016438,0.167123,...,0.147945,0.145205,0.205479,0.268493,0.200000,0.120548,0.164384,0.095890,0.068493,0.054795
153,MIT Vassar St,0.019178,0.002740,0.008219,0.005479,0.002740,0.008219,0.013699,0.087671,0.232877,...,0.131507,0.150685,0.158904,0.189041,0.161644,0.134247,0.076712,0.016438,0.041096,0.049315
154,Lesley University,0.010959,0.002740,0.008219,0.000000,0.000000,0.005479,0.024658,0.043836,0.049315,...,0.095890,0.041096,0.010959,0.046575,0.043836,0.038356,0.041096,0.019178,0.021918,0.008219
155,Mt Auburn,0.002740,0.005479,0.000000,0.000000,0.000000,0.002740,0.002740,0.016438,0.016438,...,0.090411,0.082192,0.175342,0.052055,0.027397,0.027397,0.010959,0.000000,0.002740,0.002740

In [43]:
len(testboston[(testboston["start_station_name"]=="ID Building East") & (testboston["Hour"]==8)])/365

0.07671232876712329

In [44]:
df[(df["Name"]=="ID Building East")]

,Name,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
108,ID Building East,0.00274,0.00274,0.00274,0.00274,0.0,0.005479,0.010959,0.019178,0.076712,...,0.238356,0.465753,1.813699,2.665753,0.619178,0.276712,0.156164,0.060274,0.016438,0.016438